In [1]:
import pandas as pd

In [24]:
data = pd.DataFrame(pd.Series(['1,2,3,4,7,9','2,4,5,7','3,5,7','5,6,7,9']), columns=['value'])
data

         value
0  1,2,3,4,7,9
1      2,4,5,7
2        3,5,7
3      5,6,7,9

In [25]:
data.value = data.value.apply(lambda x: x.split(','))
data

                value
0  [1, 2, 3, 4, 7, 9]
1        [2, 4, 5, 7]
2           [3, 5, 7]
3        [5, 6, 7, 9]

In [30]:
all_values = []
for x in data.value:
    for y in x:
        if y not in all_values:
            all_values.append(y)
            
all_values = sorted(all_values)
print(sorted(all_values))

['1', '2', '3', '4', '5', '6', '7', '9']

In [31]:
column_names = []
for val in all_values:
    column_names.append('value ' + val)
    
column_names

['value 1',
 'value 2',
 'value 3',
 'value 4',
 'value 5',
 'value 6',
 'value 7',
 'value 9']

In [32]:
def check_value(lst, index):
    if all_values[index] in lst:
        return 1
    else:
        return 0

In [33]:
for i in range(0, len(column_names)):
    data[column_names[i]] = data.value.apply(check_value, args = (i,))

In [34]:
data

,value,value 1,value 2,value 3,value 4,value 5,value 6,value 7,value 9
0,"[1, 2, 3, 4, 7, 9]",1,1,1,1,0,0,1,1
1,"[2, 4, 5, 7]",0,1,0,1,1,0,1,0
2,"[3, 5, 7]",0,0,1,0,1,0,1,0
3,"[5, 6, 7, 9]",0,0,0,0,1,1,1,1