In [2]:
num = [10,20,30,40,50]
print("Map example")
print(list(map(lambda x: x**2,num)))

Map example
[100, 400, 900, 1600, 2500]

In [3]:
print("Filter example")
print(list(filter(lambda x: x<=30, num)))

Filter example
[10, 20, 30]

In [4]:
print("Chain example")
print(list(filter(lambda x : x<=30, map(lambda x : x+10, num))))

Chain example
[20, 30]

In [5]:
num = [1,2,3,4,5]
for i in reversed(num):
    print(i)

5
4
3
2
1

In [6]:
for i, index in enumerate(num):
    print(i,index)

0 1
1 2
2 3
3 4
4 5

In [14]:
#Looping over two collections

name = ["amit","bat","cricket","downe"]
age = [10,20,30,40,50]

for n , a in zip(name,age):
    print(n,a)

amit 10
bat 20
cricket 30
downe 40

In [15]:
print(sorted(name, key = len))

['bat', 'amit', 'downe', 'cricket']

In [21]:
d = {"a":1,"b":2,"c":3}

for a,b in d.items():
    print(a,b)

a 1
b 2
c 3

In [23]:
print(dict(zip(name,age)))

{'amit': 10, 'bat': 20, 'cricket': 30, 'downe': 40}

In [24]:
colors = ["red","red","white","black","black","black"]
d ={}
for color in colors:
    d[color] = d.get(color,0)+1

In [25]:
d

{'red': 2, 'white': 1, 'black': 3}

In [29]:
from collections import defaultdict

d1 = defaultdict(int)
for color in colors:
    d1[color]+=1
d1

defaultdict(int, {'red': 2, 'white': 1, 'black': 3})

In [31]:
d = defaultdict(list)
for color in colors:
    key = len(color)
    d[key].append(color)
d

defaultdict(list, {3: ['red', 'red'], 5: ['white', 'black', 'black', 'black']})

In [4]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import pandas as pd

data = pd.DataFrame({"a":[1,1,0,0,1,1,0,1,1,0],"b":[0,0,0,1,1,1,0,1,0,1]})
data = pd.DataFrame({"a":[10,14,0,0,61,145,0,51,1,0],"b":[0,0,0,31,61,51,0,91,0,1]})
data

     a   b
0   10   0
1   14   0
2    0   0
3    0  31
4   61  61
5  145  51
6    0   0
7   51  91
8    1   0
9    0   1

In [5]:
data_s_sc = pd.DataFrame(StandardScaler().fit_transform(data), columns= data.columns)
data_m_sc = pd.DataFrame(MinMaxScaler().fit_transform(data), columns= data.columns)

print(data_s_sc)
print(data_m_sc)

          a         b
0 -0.410139 -0.741561
1 -0.319998 -0.741561
2 -0.635490 -0.741561
3 -0.635490  0.236668
4  0.739151  1.183342
5  2.632100  0.867784
6 -0.635490 -0.741561
7  0.513800  2.130016
8 -0.612955 -0.741561
9 -0.635490 -0.710005
          a         b
0  0.068966  0.000000
1  0.096552  0.000000
2  0.000000  0.000000
3  0.000000  0.340659
4  0.420690  0.670330
5  1.000000  0.560440
6  0.000000  0.000000
7  0.351724  1.000000
8  0.006897  0.000000
9  0.000000  0.010989

/Users/amit.panda03/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/amit.panda03/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/Users/amit.panda03/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)